
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
form{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 106vh;
   
}
.content{
    width: 510px;
    height:460px;
    background: transparent;
    border: 2px solid #D71313;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 0000001a;
    color: red;
    border-radius: 10px;
    padding: 13px 15px;
    position:fixed;

}
.content h1{
    font-size: 36px;
    text-align: center;
}
.content .input-box{
    width: 30%;
    height: 30px;
    margin:30px 0;
}
.input-box input{
    
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid red;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;  
}
.button{
    width:25%;
    height: 35px;
    background: #D71313;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #0000001a;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
   
}
.content table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.content table td{
    font-size:17px;
}
.content table tr{
    padding: 10px;
    line-height: 1.9;
}

.content .register-link{
    font-size: 16px;
    text-align: center;
    margin:20px 0 15px;
}
.register-link p a{
    color: #D71313;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}
.content #icon-close{
    position: absolute;
    top:0;
    right:0;
    width:45px;
    height:45px;
    font-size: 1em;
    color:#D71313;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}