<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="../static/css/search.css">
    <title>Blood Bank</title>
</head>
<body>
    
    <div class="wrapper">
        <div class="sidebar">
            <img src="../static/img/logo1.jpg" alt="logo">  
            
                <li>
                    <a href="dashboard">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="viewDonors">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Donors</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="home">
                        <span class="icon"><i class="fa fa-sign-out"></i></span>
                        <span class="item">Logout</span>
                    </a>
                </li>
        </div>
    </div>
    <form action="adChangePassword" method="post">
        <div class="content" style="background-color: #990000; margin-bottom: 11%;">
            <table>
                <center><h1>Change Password</h1></center>
                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="new" required></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" name="confirm" required></td>
                </tr>
        </table>
            <center><button type="submit" class="button">Change</button></center>
           <center> {{msg}}</center>
        </div>
    </form>

   <footer>
    <div class="footer">
        <p>© Copyright 2023. All rights reserved. Developed by AnjanaPK.</p>
    </div>

   </footer> 
</body>
</html>