<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Blood Bank</title>
</head>
<body background="../static/img/background.jpg">
    <header>
        <img src="../static/img/logo1.jpg" alt="logo">
        <div class="header-tag">
            <a href="#">Home</a>
            <a href="donorRegister">Sign Up</a> 
            <a href="search">Search Donors</a>
            <a href="login">Sign in</a>
        </div>
    </header>
    <div class="msg" >
        <img src="../static/img/hero.jpg">
    </div>
   <footer>
    <div class="footer">
        <p>© Copyright 2023. All rights reserved. Developed by AnjanaPK.</p>
    </div>

   </footer> 
</body>
</html>